name: CI
on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
permissions:
  contents: read
env:
  NIXPKGS: github:NixOS/nixpkgs/nixos-25.11
jobs:
  QA:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Install Nix
        uses: DeterminateSystems/determinate-nix-action@v3.15.2
      - name: Check up-to-date syntax of Python files (pyupgrade)
        run: nix shell ${{ env.NIXPKGS }}#pyupgrade --command pyupgrade --py312-plus **/*.py
      - name: Check format of Python files (ruff)
        run: nix shell ${{ env.NIXPKGS }}#ruff --command ruff format --check
      - name: Check import order & lints of Python files (ruff)
        run: nix shell ${{ env.NIXPKGS }}#ruff --command ruff check --select I
      - name: Scan secrets
        run: nix shell ${{ env.NIXPKGS }}#gitleaks --command gitleaks git --no-banner --verbose
